/* html, body{ 
  width:100%;
}
 */

 html,
 body {
   color: #f5d67b;
   /* color: white; */
 }
 h1 {
   color: #f64a3b;
 }
 h2 {
   color: #f7b93f;
 }
 h3 {
   color: #b7b937;
 }
 h4 {
   color: #8fbf7f;
 }
 h5 {
   color:  #d2879b;
 }
 h6 {
   color:   #82a598;
 }

 body {
   background-color:  #282828;
   /* background-color: black; */
 }



 /* <style> */
/* html, */
/* body { */
  /* color: #f5d67b; */
  /* color: white; */
/* } */
/* h1 { */
  /* color: #fc9463; */
/* } */
/* h3 { */
  /* color: #72e0d1; */
/* } */
/* body { */
  /* background-color:  #201c29; */
  /* background-color: black; */
/* } */
/* </style> */

/* 
 html,
 body {
   background-image: none !important;
   background-color: rgba(40, 42, 54, 1) !important;
 }
 
 body * {
   color: rgba(248, 248, 242, 1) !important;
   background-color: rgba(40, 42, 54, 1) !important;
 }
 
 a,
 a * {
   color: rgba(80, 250, 123, 1) !important;
   background-color: transparent !important;
 }
 
 a:hover,
 a:hover *,
 a:visited:hover,
 a:visited:hover *,
 span[onclick]:hover,
 div[onclick]:hover,
 [role="link"]:hover,
 [role="link"]:hover *,
 [role="button"]:hover *,
 [role="menuitem"]:hover,
 [role="menuitem"]:hover *,
 .link:hover,
 .link:hover * {
   color: rgba(241, 250, 140, 1) !important;
 }
 
 a:visited,
 a:visited * {
   color: rgba(98, 114, 164, 1) !important;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 strong,
 [id*="headline"],
 [class*="headline"],
 [id*="header"],
 [class*="header"],
 [class*="header"] td {
   color: rgba(255, 184, 108, 1) !important;
 }
 
 table {
   background-color: rgba(40, 42, 54, 1) !important;
 }
 
 [id*="overlay"],
 [id*="lightbox"],
 blockquote {
   background-color: rgba(68, 71, 90, 1) !important;
 }
 
 pre,
 dl {
   background-color: rgba(68, 71, 90, 1) !important;
 }
 
 input,
 select,
 button,
 [role="button"],
 a.button,
 a.submit,
 a.BigButton,
 a.TabLink,
 .install[onclick] {
   text-indent: 5px;
   appearance: none !important;
   -moz-appearance: none !important;
   -webkit-appearance: none !important;
   background: rgba(68, 71, 90, 1) !important;
 }
 
 textarea {
   appearance: none !important;
   -moz-appearance: none !important;
   -webkit-appearance: none !important;
   background: rgba(68, 71, 90, 1) !important;
 }
 
 div,
 ul,
 li {
   background-image: none !important;
 }
 
 a.highlight,
 a.highlight *,
 a.active,
 a.active *,
 .selected,
 .selected *,
 [href="#"] {
   font-weight: bold !important;
   color: rgba(139, 233, 253, 1) !important;
 }
 
  */

/* 
main {
  font-family: monospace, monospace;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0rem;
  }
}

::selection {
  background: #d3869b;
}

body {
  background: #282828;
  color:      #ebdbb2;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: #b16286;
  background-color: #1d2021;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .1rem;
}

blockquote {
  border-left: 1px solid #bdae93;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

footer {
  align: center;
}

@media (prefers-color-scheme: light) {
    body {
        background: #fbf1c7;
        color:      #3c3836;
    }

    pre {
        background-color: #ebdbb2;
        padding: 1em;
        border: 0;
    }

    a, a:active, a:visited {
        color: #b16286;
        background-color: #f9f5d7;
    }

    h1, h2, h3, h4, h5 {
        margin-bottom: .1rem;
    }

    blockquote {
        border-left: 1px solid #655c54;
        margin: 0.5em 10px;
        padding: 0.5em 10px;
    }
} */
